<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Crear Cuenta</title>
	<style type="text/css">
		:root{
			--colorTextos: #49454567;
		}
		*,
		::before,
		::after{
			margin: 0;
			padding: 0;
		}	
		body{
			margin: 0;
			padding: 0;
			background: #1450C0;
			background-size: cover;
			font-family: sans-serif;
			height: 100vh;
		}	
		main{
			background: #1450C0;
			height: 650px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.texto-registro{
			text-align: center;
			font-weight: 700;
		}
		form{
			background: #E8E8E8;
			padding: 40px 0 ;
			box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
			border-radius: 10px;
		}
		.form{
			width: 100%;
			margin: auto;
		}
		form .grupo{
			position: relative;
			margin: 45px;
		}

		input{
			background: none;
			color: #c6c6c6;
			font-size: 18px;
			padding: 10 px 10px 10px 5px;
			width: 100%;
			border: none;
			border-bottom: 1px solid var(--colorTextos);
		}
		input:focus{
			outline: none;
			color:  #5e5d5d;
		}
		label{
			font-size: 16px;
			position: absolute;
			color: black;
			left: 5px;
			bottom: 25px;
			transition: 0.5 ease-in-out all;
			pointer-events: none;
		}
		input:focus~label,
		input: valid~label{
			top: -14px;
			font-size: 12px;
			color: #2196f3;
		}
		.barra{
			content: "";
			height: 2px;
			width: 0%;
			bottom: 0;
			position: absolute;
			background: linear-gradient(to right,#B06AB3,#4568DC);
			transition: 0.3 ease width;
			left: 0;
		}
		.boton1{
			background: #4F5154;
			font-family: serif;
			border: none;
			display: block;
			width: 80%;
			margin: 10px auto;
			color: #fff;
			height: 40px;
			font-size: 16px;
			cursor: pointer;
			background: #ed213a;
		}



		header {
            background-color:#1450C0;
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px;

        }

        .texto-main {

            font-family: 'Days One', sans-serif;
            color:white;
            text-align: center;
            font-size: 400%;
        }

        a {
            color:white;
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            font-weight:bold;
        }

        button {
            padding: 15px 25px;
            border: unset;
            border-radius: 15px;
            color: #212121;
            z-index: 1;
            background: #ed213a;
            position: relative;
            font-weight: 1000;
            font-size: 17px;
            -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
            box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
            transition: all 250ms;
            overflow: hidden;
            
        }

        .button::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            border-radius: 15px;
            background-color: #212121;
            z-index: -1;
            -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
            box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
            transition: all 250ms
        }

        .boton1::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            border-radius: 15px;
            background-color: #212121;
            z-index: -1;
            -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
            box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
            transition: all 250ms
        }

        .boton1:hover{
            color: #e8e8e8;
        }

        .button:hover {
            color: #e8e8e8;
        }

        .boton1:hover::before {
            width: 100%;
        }
        .button:hover::before {
            width: 100%;
        }
        .error{
        	text-align: center;
        	background: red;
        	height: auto;
        	border-radius: 15px;
        	font-size: 30px;
        	font-family: sans-serif;
        	color: white;
        	font-weight:bold;

        }

	</style>
</head>
<body>
	<header>
        <h1 class="texto-main">Beginner-Luck</h1>
        <nav>
            <button class="button"><a href="http://localhost:4567/signup">Sign up</a></button>
            <button class="button"><a href="http://localhost:4567/login">Login</a></button>
        </nav>
        
    </header>
    <% if flash[:error]%>
    	<div class="error"><%= flash[:error]%></div>
    <%end %>
    <main>
	<form action="http://localhost:4567/signup" method="POST" id="form">
		<div class="form">
			<h1 class="texto-registro">Registro</h1>
			<div class="grupo">
				<input type="username" name="username" id="name" required><span class="barra"></span>
				<label>Nombre</label>
			</div>
			<div class="grupo">
				<input type="email" name="email" id="name" required><span></span>
				<label>Email</label>
			</div>
			<div class="grupo">
				<input type="password" name="password" id="name" required><span></span>
				<label>Password</label>
			</div>
			<button class="boton1" type="submit">Registrarse</button>
		</div>
	</form>
	</main>
</body>
</html>